In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv(r'C:\Users\PRAVIN PANCHAGNULA\Datasets_AI_ML\cars.csv')

In [3]:
dataset.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           261 non-null    float64
 1    cylinders    261 non-null    int64
 2    cubicinches  261 non-null    object
 3    hp           261 non-null    int64
 4    weightlbs    261 non-null    object
 5    time-to-60   261 non-null    int64
 6    year         261 non-null    int64
 7    brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [5]:
dataset.describe()

              mpg   cylinders          hp   time-to-60         year
count  261.000000  261.000000  261.000000   261.000000   261.000000
mean    23.144828    5.590038  106.360153    15.547893  1976.819923
std      7.823570    1.733310   40.499959     2.910625     3.637696
min     10.000000    3.000000   46.000000     8.000000  1971.000000
25%     16.900000    4.000000   75.000000    14.000000  1974.000000
50%     22.000000    6.000000   95.000000    16.000000  1977.000000
75%     28.800000    8.000000  138.000000    17.000000  1980.000000
max     46.600000    8.000000  230.000000    25.000000  1983.000000

In [6]:
dataset.columns

Index(['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60',
       ' year', ' brand'],
      dtype='object')

In [7]:
X = dataset.iloc[:,:-1].values

In [17]:
X = pd.DataFrame(X)

In [23]:
dataset[["mpg"]] = dataset[["mpg"]].apply(pd.to_numeric)

In [31]:
dataset[[" cylinders"]] = dataset[[" cylinders"]].fillna('')

In [32]:
dataset[[" cubicinches"]] = dataset[[" cubicinches"]].fillna('')

In [33]:
dataset[[" hp"]] = dataset[[" hp"]].fillna('')

In [34]:
dataset[[" weightlbs"]] = dataset[[" weightlbs"]].fillna('')

In [35]:
dataset[["  time-to-60"]] = dataset[[" time-to-60"]].fillna('')

In [36]:
dataset[[" year"]] = dataset[[" year"]].fillna('')

In [37]:
dataset[[" cylinders"]] = dataset[[" cylinders"]].apply(pd.to_numeric)

In [53]:
dataset[[" hp"]] = dataset[[" hp"]].apply(pd.to_numeric)

In [69]:
dataset = dataset.apply(pd.to_numeric, errors='coerce')

In [62]:
X.columns = ['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60', 'year']

In [64]:
X = dataset.iloc[:,:-1].values

In [65]:
X = pd.DataFrame(X)

In [68]:
for i in X.columns:
    X[i] = X[i].fillna(int(X[i].mean()))

ValueError: cannot convert float NaN to integer